/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "lib/slick";
 @import "lib/slick-theme";

 body.mobile-app{
   background-color: #ecf0f1;
  > .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .slick-slide{
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  a.recipe {
    &:active, &:focus{
      background-color: darken(#ecf0f1, 20%);
    }
    display: block;
    padding: 15px;
    font-size: 25px !important;
    border-bottom: #e2e2e2 1px solid;
  }
 }
